%ul.nav.nav-pills.col-lg-11
  %li.nav#nav1{role: "presentation"}
    = link_to 'Popular PROTO',popular_index_path, remote: true
  %li.nav#nav2{role: "presentation"}
    = link_to 'Newest PROTO',newest_index_path, remote: true
= button_to 'View Tags', tags_path, method: :get, class: "btn btn-default col-lg-1" 
