.col-sm-4.col-md-3.proto-content
  .thumbnail
    %a
      = link_to image_tag(prototype.pictures[0].thumbnail), prototype_path(prototype)
      .caption
        %h3
        = prototype.title
        .proto-meta
          .proto-user
            %a
            = link_to prototype.user.nickname, user_path(prototype.user.id)
          .proto-posted
            = prototype.created_at.strftime("%b%d")
        %ul.proto-tag-list.list-inline
          %li 
            %a{href: "#", class: "btn btn-default"} iPad
          %li 
            %a{href: "#", class: "btn btn-default"} wireframe
