.navbar.navbar-default.navbar-static-top.navbar-fixed-top
  .container
    %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    =link_to image_tag("logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "36px"), '/', class: 'navbar-brand'
    .navbar-collapse.collapse.navbar-responsive-collapse
      -unless user_signed_in?
        %ul.nav.navbar-nav.navbar-right
          %li
            .btn.btn-primary.navbar-btn
              %a
              = link_to "Get Started", '/users/sign_in'
      -else
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a.dropdown-toggle{aria: {expanded: "false"}, data: {toggle: "dropdown"}, href: "#", role:  "button"}
              =current_user.nickname
              %span.caret
            %ul.dropdown-menu{role: "menu"}
              %li
                %a
                = link_to "Profile Edit", edit_user_registration_path(current_user)
              %li
                %a
                = link_to "Logout", '/users/sign_out', method: :delete
          %li
            .btn.btn-primary.navbar-btn
              %a{href: "/proto/new"}
                New Proto




